@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



body, html {
	height: 100%;
	width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

a {

    color: #02aede;
    

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

a:active {
    text-decoration: none;
}


p {
    font-size: 16px;
    line-height: 24px;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 35px;
	color: #f8f8f8;
	background: url(../img/header.png) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	font-size: 14px;
	letter-spacing: 1px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
	border-bottom: 1px solid #e7e7e7;
}

.content-section-b {
	
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding-bottom: 45px;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
    border-top: 2px solid #00aee0;
    padding-top: 30px;
    padding-bottom: 22px;
}

p.copyright {
	margin: 7px 0 0;
    float: right;
}

.list-inline {
    margin-top: 7px;
    font-size: 12px;

}

.list-inline > li {
    padding-left: 5px;
    padding-right: 0px;
    float: right;

}

.cus-font-color {

    color: #02aede;

}





.btn {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    border-radius: 4px;
}

.btn:after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	border: 1px solid #00b0e2;
	color: #02aede;
    background: #ffffff;
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.33;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #ffffff;
	background: #00afe1;
}


.btn-1a:hover > a {

    color: #ffffff !important;

}



/* Button 2 */
.btn-2 {
	border: 1px solid #00afe1;
    color: #ffffff;
	background: #00afe1;
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.33;
}

/* Button 2a */
.btn-2a:hover,
.btn-2a:active {
	color: #ffffff;
    background: #0591b9;
    border: 1px solid #0591b9;
}




/* Free Trial - Button 3 */
.btn-3 {
    border: 1px solid #27ca94;
    color: #ffffff;
    background: #27ca94;
    padding: 6px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 18px;
    margin-right: 15px;
}

/* Free Trial - Button 3a */
.btn-3a:hover,
.btn-3a:active {
	color: #ffffff;
    background: #12ad7a;
    border: 1px solid #12ad7a;
}



/* Join/Host - Button 4 */
.btn-4 {
    border: 1px solid #00aee0;
    color: #00aee0;
    background: transparent;
    padding: 6px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 18px;
}

/* Join/Host - Button 4a */
.btn-4a:hover,
.btn-4a:active {
	color: #ffffff !important;
    background: #00aee0;
    border: 1px solid #00aee0;
}

.btn-4a:hover > a {

    color: #ffffff !important;

}



/* Sign up - Button 5 */
.btn-5 {
    border: 1px solid #00aee0;
    color: #ffffff;
    background: #00aee0;
    padding: 6px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 15px;
}

/* Free Trial - Button 5a */
.btn-5a:hover,
.btn-5a:active {
	color: #ffffff !important;
    background: #0591b9;
    border: 1px solid #0591b9;
}





/* Slider */

#carousel-wrapper {
    margin-top: 68px;

}

#pager {
    margin-top:30px;

}



.full-img-r {
position: relative;
top: -350px;
float: right;
clear: both;

}

.cus-image-1 {
width: 650px;

}


.footer-links {
    color: #98a4af;
}

.text-muted {
color: #58626a;

}




